<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Acknowledge</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/Images/Logo_Transparent.png" onclick="location.href='@Url.Action("Index", "Home" )'" alt="Logo_Picture" style="height:50px;">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Convert.ToBoolean(Session["AccountID"]) == false)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Login")</li>
                    }
                    else if (Convert.ToBoolean(Session["AccountID"]) == true && Session["Rank"].ToString() == "Hulpbehoevende")
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Create help request", "Create", "Request")</li>
                        <li>@Html.ActionLink("Inbox", "IndexReceiver", "Message")</li>
                        <li>@Html.ActionLink("Send message", "Create", "Message")</li>
                        <li>@Html.ActionLink("Log out", "Index", "Login")</li>
                    }
                    else if (Convert.ToBoolean(Session["AccountID"]) == true && Session["Rank"].ToString() == "Hulpverlener")
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Find help requests", "Index", "Request")</li>
                        <li>@Html.ActionLink("Inbox", "IndexReceiver", "Message")</li>
                        <li>@Html.ActionLink("Send message", "Create", "Message")</li>
                        <li>@Html.ActionLink("Log out", "Index", "Login")</li>
                    }
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center;">&copy; @DateTime.Now.Year - WeParticipate</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
