
@model IEnumerable<ProftaakASP.Models.Account>


@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h2>Mijn account</h2>


<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <th>
                <ul class="w3-ul w3-card-4">
                    <li class="w3-bar">
                        <img src="img_avatar2.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                        <div class="w3-bar-item">
                            <span class="w3-large">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</span><br>
                            <span>@Html.DisplayFor(modelItem => item.Rank)</span>
                        </div>
                    </li>
            </th>
            <td></td>

        </tr>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>

        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BirthYear)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.BirthYear)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HouseNumber)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.HouseNumber)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfileDescription)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileDescription)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PreferredCategory)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredCategory)
            </td>

        </tr>

        <tr>
            <th>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })

            </th>
            <td></td>

        </tr>
    }
</table>

