@model ProftaakASP.Models.Request

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Context)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Context)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePlaced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePlaced)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateHelpNeeded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateHelpNeeded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestExpiration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequestExpiration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
