@model IEnumerable<ProftaakASP.Models.Request>
@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <meta charset="UTF-8">
</head>

<p style="margin-top:70px;">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @foreach (var item in Model)
    {

        <tr>
            <th>
                <h1 class="txtTitleBox" style="width:200%;">
                    @Html.DisplayFor(modelItem => item.Title)
                </h1>
            </th>
            <td></td>

        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Context)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Context)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatePlaced)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.DatePlaced)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateHelpNeeded)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.DateHelpNeeded)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Create Offer", "Create", "Offer", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
